<li>
  <figure class='relative group block w-full aspect-w-10 aspect-h-7'>
    <img
      src='{{src}}'
      alt=''
      class='object-cover group-hover:opacity-90 border-solid border-2 border-white rounded-lg'
    />
    <figcaption
      class='h-fit absolute top-[105%] p-2 rounded-lg text-white bg-slate-900/70 opacity-0 group-hover:opacity-100 z-10 transition opacity delay-1000'
    >{{description}}</figcaption>
  </figure>
</li>