body {
  margin: 0;
}
header {
  margin-bottom: 16px;
  padding: 16px;
  background-color: orange;
  color: white;
}
main {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  align-items: end;
  padding: 16px;
}

img {
  object-fit: cover;
  width: 100%;
}

select {
  margin-right: 16px;
}

.card p {
  margin: 4px 0;
}

.card a {
  color: white;
  background-color: orange;
  padding: 4px 8px;
  border-radius: 2px;
  text-decoration: none;
}

@media (min-width: 768px) {
  main {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) {
  main {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}